[Unit]
Description={{ app_name }}
After=network.target

[Service]
Type=simple

User={{ app_user }}
Group={{ app_group }}

WorkingDirectory={{ app_dir }}

Environment=NODE_ENV={{ node_env }}
Environment=PORT={{ app_port }}
Environment=PATH=/usr/local/bin:/usr/bin:/bin
EnvironmentFile=-{{ app_dir }}/.env

ExecStart=/usr/bin/node server.js

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target